<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Portal</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.2"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

</head>

<body>
    <div id="app">
        <el-container>
            <el-header height="80px">
                <my-header></my-header>
            </el-header>
            <el-container>
                <el-main>
                    <my-main>

                    </my-main>
                </el-main>
            </el-container>
        </el-container>
    </div>

    <template id="myHeader">
        <div>
            <el-menu default-active="1" class="el-menu-demo" mode="horizontal">
                <el-menu-item index="1">Smart COPD Patient Monitoring System</el-menu-item>

                <el-submenu index="2">
                    <template slot="title">Welcome, {{ name }}</template>
                    <el-menu-item index="2-1">Profile</el-menu-item>
                    <el-menu-item index="2-2" text-color="#fff">Log out</el-menu-item>
                </el-submenu>

            </el-menu>

        </div>
    </template>

    <template id="myMain">

        <el-tabs tab-position="left" style="height: 400px;" :stretch="stretch">
            <el-tab-pane label="Overview">
                <my-overview>
                </my-overview>
            </el-tab-pane>
            <el-tab-pane label="Data">
                <my-data :biodata="biodata"></my-data>
            </el-tab-pane>
            <el-tab-pane label="Record Biodata">
                <my-rec-bio>
                </my-rec-bio>
            </el-tab-pane>
            <el-tab-pane label="Education Resources">
                <my-edu-res></my-edu-res>
            </el-tab-pane>
            <el-tab-pane label="Contact a Healthcare Profession">
                <my-contact-h-c-pro></my-contact-h-c-pro>
            </el-tab-pane>
        </el-tabs>
    </template>

    <template id="myOverview">
        <div class="demo-image">
            <div>
                <h3 style="text-align: center;">Data Summary (Last 7 days)</h3>
            </div>
            <div class="block">
                <el-image style="width: 100%; height: 350px" :src="url" :fit="fit">
                    <div slot="error" class="image-slot">
                        <i class="el-icon-picture-outline"></i>
                    </div>
                </el-image>
            </div>
        </div>
    </template>

    <template id="myData">
        <div>
            <div>
                <h3 style="text-align: center;">All Data</h3>
            </div>
            <el-table :data="biodata" height="350" border stripe style="width: 100%">
                <el-table-column prop="date" label="Date" width="180">
                </el-table-column>
                <el-table-column prop="hr" label="Heart Rate (bpm)" width="180">
                </el-table-column>
                <el-table-column prop="spo2" label="SpO2 (%)">
                </el-table-column>
                <el-table-column prop="rr" label="Respiration Rate (bpm)" width="180">
                </el-table-column>
                <el-table-column prop="rl" label="Risk Level (5-high; 1-low)" width="180">
                </el-table-column>

            </el-table>
        </div>
    </template>

    <template id="myRecBio">
        <div>
            <el-form ref="form" :model="form" label-width="auto">
                <el-form-item label="Heart Rate: ">
                    <el-input v-model="form.hr"></el-input>
                </el-form-item>

                <el-form-item label="Oxygen Saturation (SpO2): ">
                    <el-input v-model="form.spo2"></el-input>
                </el-form-item>

                <el-form-item label="Respiration Rate: ">
                    <el-input v-model="form.rr"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="onSubmit">Submit</el-button>
                    <el-button @click="onClear">Clear</el-button>
                </el-form-item>
            </el-form>
        </div>
    </template>

    <template id="myEduRes">

        <el-carousel :interval="4000" type="card" height="400px">
            <el-carousel-item v-for="item in resources" :key="item">
                <h3>{{ item }}</h3>
            </el-carousel-item>
        </el-carousel>

    </template>

    <template id="myContactHCPro">
        <div>
            <div>
                <p style="font-size: x-large">Call <span style="color: red">911</span> for an emergency.</p>
            </div>
            <div>
                <p style="font-size: large;">Contact us for non-emergency:</p>
                <el-form ref="form" :model="form" label-width="auto">
                    <el-form-item label="Share my: ">
                        <el-checkbox-group v-model="form.type">
                            <el-checkbox label="Name and Contacts" name="type"></el-checkbox>
                            <el-checkbox label="Biodata" name="type"></el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>
                    <el-form-item label="Message: ">
                        <el-input type="textarea" v-model="form.desc"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">Submit</el-button>
                        <el-button @click="onClear">Clear</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </template>

    <script>
        Vue.http.options.emulateJSON = true;

        var vm = new Vue({
            el: '#app',
            components: {
                myMain: {
                    template: '#myMain',
                    data() {
                        return {
                            stretch: true,
                            biodata: []
                        }
                    },
                    created() {
                        this.$http.get('http://localhost:3000/patients/api').then(response => {
                            response.body.forEach(element => {
                                this.biodata.push(element);
                            })
                        })
                    },
                    components: {
                        myOverview: {
                            template: '#myOverview',
                            data() {
                                return {
                                    url: 'image/Graph.png',
                                    fit: 'contain'
                                }
                            }
                        },
                        myData: {
                            template: '#myData',
                            props: ['biodata'],
                        },
                        myRecBio: {
                            template: '#myRecBio',
                            data() {
                                return {
                                    form: {
                                        hr: '',
                                        spo2: '',
                                        rr: ''
                                    }
                                }
                            },
                            methods: {
                                onSubmit() {
                                    console.log('submit!');
                                    console.log(typeof(this.form));
                                    console.log(this.form)
                                    this.$http.post('http://localhost:3000/patients/api', '{"hr": this.form.hr, "spo2": this.form.spo2, "rr": this.form.rr}');
                                    this.onClear();
                                },
                                onClear() {
                                    this.form.hr = '';
                                    this.form.spo2 = '';
                                    this.form.rr = '';
                                }
                            }
                        },
                        myEduRes: {
                            template: '#myEduRes',
                            data() {
                                return {
                                    resources: ['resources1', 'resources2', 'resources3', 'resources4', 'resources5', 'resources6']
                                }
                            }
                        },
                        myContactHCPro: {
                            template: "#myContactHCPro",
                            data() {
                                return {
                                    form: {
                                        type: [],
                                        desc: ''
                                    }
                                }
                            },
                            methods: {
                                onSubmit() {
                                    console.log('submit!');
                                    this.onClear();
                                },
                                onClear() {
                                    this.form.type = [];
                                    this.form.desc = '';
                                }
                            }
                        }
                    }
                },
                myHeader: {
                    template: '#myHeader',
                    data() {
                        return {
                            name: "Thomas"
                        }
                    }
                }


            }
        })
    </script>


    <style>
        .el-carousel__item h3 {
            color: #475669;
            font-size: 14px;
            opacity: 0.75;
            line-height: 200px;
            margin: 0;
        }

        .el-carousel__item:nth-child(2n) {
            background-color: #99a9bf;
        }

        .el-carousel__item:nth-child(2n+1) {
            background-color: #d3dce6;
        }

        </body></html>